.custom-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    display: inline-block;
    border: none; /* Remove button border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #fff; /* Set text color to white */
}

body {
    background-image: url('https://topdee77.github.io/AIO.com/login/background.jpg');
    background-size: cover; /* Scale the background image to cover the entire container */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    color: #fff; 
    font-family: 'Futura', sans-serif;
    margin: 0; 
    padding: 0; 
}

/* Media query for screens larger than a certain width (e.g., laptops) */
@media (min-width: 768px) {
    body {
        background-image: url('https://topdee77.github.io/AIO.com/login/background.jpeg'); /* Use a different image for larger screens */
    }

a {
    color: #FFD700; /* Change link color */
    text-decoration: none; /* Remove underlines from links */
}

/* Define a hover effect (optional) */
.custom-button:hover {
    background-color: #0056b3; /* Change background color on hover */
}

.custom-button:active {
    background-color: #0056b3;
}

body {
    text-align: center;
    font-family: 'Futura', sans-serif;
    background-color: #121212; /* Set the background color to black */
    font-size: 16px;
    color: #FFFFFF; /* Set the text color to white */
}


.container {
    margin-top: 50px;
}

body {
    text-align: center; /* Center-align the content in the body */
    font-family: 'Futura', sans-serif; /* Specify a font family for the text */
    font-size: 16px;
}

.container {
    margin-top: 50px;
}

.title-text {
    margin-bottom: 20px; /* Add margin to push the h2 down */
}

.icon-button {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    max-width: 30%;
    font-size: 1rem;
    border: none; /* Remove button border */
    cursor: pointer;
}

.icon-button p {
    padding: 0;
}

.icon-item {
    margin: 20px;
    vertical-align: top;
    max-width: 30%;
    font-size: 1rem;
    border: none; /* Remove button border */
    cursor: pointer; 
}

.icon-item p {
    padding: 0;
}
    
    @media (max-width: 768px) {
        .icon-button {
            font-size: 0.875rem;
            max-width: 30%; /* Adjust the max-width as needed */
        }

        body {
        font-size: 14px; /* Adjust base font size for smaller screens */
        }
        
        .icon-container p {
            padding: 0;
            font-size: 0.75rem; /* Adjust font size for smaller screens */
        }
        
        .sliding-text {
            margin-top: 100px; /* Adjust for smaller screens */
            font-size: 1.2rem; /* Adjust font size for smaller screens */
            font-weight: bold;
        }
    }


.icon-container {
    text-align: center; /* Center-align the icon and text */
    font-size: 0.875rem;
}

.icon-container img {
    max-width: 100%; /* Set maximum width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
}

.icon-container p {
    margin-top: 10px; /* Add margin between the icon and text */
    font-weight: bold; /* Make the text bold */
    font-size: 16px; /* Set the font size for the text */
    padding: 0;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    z-index: -999;
}

.sliding-text {
    margin-top: 80%;
}

.sliding-text p {
    font-weight: bold;
    color: #FFD700;
}
